<div class="container-main">
    <h1>Solicitudes de Crédito</h1>

    <div class="button-container">
        <button (click)="nuevaSolicitud()">Nueva solicitud</button>
        <button (click)="buscarPorUsuario()">Buscar por usuario</button>
    </div>

    <div class="button-simular-container">
        <button (click)="simularSolicitudes()">Simular varias solicitudes</button>
    </div>

    <div class="indicadores-container">
        <div class="indicador">
            <h2>Aceptadas: {{ indicadores.totalAprobados }}</h2>
        </div>
        <div class="indicador">
            <h2>Rechazadas: {{ indicadores.totalRechazados }}</h2>
        </div>
    </div>
</div>